$white: #fff;
$darkBlue: #020b2c;
$crimson: crimson;
$lightPurple: #ebd4fd;
$lightBlue: #cecef7;
$fontColor: #f9ff66;
$grey: grey;
$ledBacklit: #2b2aa8;
$bgColor: #dcdaff;
$bgRead: #121a38;
$bgLight: #dcdaff;
$bgDark: #020b2c;
$bgContentDark: #121a38;
$bgContentLight: #cecef7;
$bgTags: #9696c9;
$textSelectionCol: #9696c9;

$temp: #04091f;

//for linear gradient
$c1: #1a020a;
$c2: $darkBlue;

$font1: "Varela Round";
$font2: sans-serif;

// border-radius
$heroRad: 150px;
$childRad: 100px;
$childRadMob: 50px;
