$white: #fff;
$darkBlue: #020f2c;
$crimson: crimson;
$lightPurple: #ebd4fd;
$lightBlue: #cecef7;
$fontColor: #f9ff66;
$grey: grey;
$bgColor: #dcdaff;

$temp:#040414;

//for linear gradient
$c1: #1a020a;
$c2: $darkBlue;

$font1: "Varela Round";
$font2: sans-serif;

// border-radius
$heroRad: 150px;
$childRad: 100px;