$white: #fff;
$second: #020f2c;
$crimson: crimson;
$fourth: orange;
$lightPurple: #ebd4fd;
$lightBlue: #cecef7;
$fontColor: #f9ff66;
$grey: grey;
$bgColor: #dcdaff;

//for liner gradient
$c1: #1a020a;
$c2: $second;

$font1: "Varela Round";
$font2: sans-serif;

// border-radius 
$heroRad: 200px;
$childRad: 200px;
