@import "./colors.scss";

$main-content-width: 70%;
$main-content-margin: 70px auto;
$main-content-padding: 150px 100px;
$blog-tags-width: 90%;
$blog-tags-margin: 50px auto;
$tags-margin: 5px;
$tags-padding: 6px 12px;
$tags-border-radius: 15px;

@mixin blog-tags {
    width: $blog-tags-width;
    margin: $blog-tags-margin;

    .tags {
        margin: $tags-margin;
        padding: $tags-padding;
        border-radius: $tags-border-radius;
        color: $lightBlue;
        background-color: #9696c9;

        &:hover {
            background-color: #8282ac;
        }
    }
}

.canva {
    position: relative;
    width: 40%;
    margin: auto;
    padding-top: 56.25%;
    padding-bottom: 0;
    margin-top: 3rem;
    margin-bottom: 3rem;
    overflow: hidden;
    border-radius: 25px;
    will-change: transform;

    .iframe {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        border: none;
        padding: 0;
        margin: 0;
    }
}


div {
    & > .main-content {
        width: $main-content-width;
        margin: $main-content-margin;
        border-radius: $childRad;
        padding: $main-content-padding;
        background: $lightBlue;
        transition: all 1s ease;

        & > .blog-tags {
            .tag-container {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                @include blog-tags;
            }
        }
    }
}

@media screen and (max-width: 750px) {
    div {
        .main-content {
            width: 90%;
            margin: $main-content-margin;
            border-radius: $childRadMob;
            padding: 50px 25px;
            transition: all 1s ease;

            .blog-tags {
                .tag-container {
                    width: 100%;
                }
            }
        }
    }

    .canva {
        width: 90%;
        height: 600px;
    }
}
