@import "./colors.scss";

$main-content-width: 70%;
$main-content-margin: 70px auto;
$main-content-padding: 150px 100px;
$blog-tags-width: 90%;
$blog-tags-margin: 50px auto;
$tags-margin: 5px;
$tags-padding: 6px 12px;
$tags-border-radius: 15px;

@mixin tagLinks {
    width: $blog-tags-width;
    margin: $blog-tags-margin;

    .tags {
        margin: $tags-margin;
        padding: 0 10px;
        height: 30px;
        border-radius: $tags-border-radius;
        color: $lightBlue;
        background-color: $bgTags;
        display: flex;
        align-items: center;
        flex-direction: row;
        text-align: center;

        &:hover {
            background-color: #8282ac;
        }
    }
}

.canva {
    position: relative;
    width: 40%;
    margin: auto;
    padding-top: 56.25%;
    padding-bottom: 0;
    margin-top: 3rem;
    margin-bottom: 3rem;
    overflow: hidden;
    border-radius: 25px;
    will-change: transform;

    .iframe {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        border: none;
        padding: 0;
        margin: 0;
    }
}

div {
    & > .main-content {
        width: $main-content-width;
        margin: $main-content-margin;
        border-radius: $childRad;
        padding: $main-content-padding;
        background: $lightBlue;
        transition: all 1s ease;

        & > .blog-tags {
            .tag-container {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                @include tagLinks;
            }
        }
    }
}

.carousel {
    width: 100%;
    position: relative;

    img {
        margin: auto;
        max-width: 100%;
        max-height: calc(100vh - 80px);
        background-size: 50%;
    }

    .floating-card-container {
        width: 70%;
        position: absolute;
        display: flex;
        align-items: first baseline;
        top: 88%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #000;

        span {
            display: flex;
            color: $white;
        }

        .dummy-space-left {
            width: 70%;
        }
        .floating-cards {
            padding-left: 10px;
            width: 30%;
            cursor: pointer;
            display: flex;
            align-items: center;

            img {
                width: 100%;
                height: unset;

                &:hover {
                    opacity: 0.7;
                    background-image: linear-gradient(#111, #111);
                }
            }

            .floating-heading {
                padding: 15px;
                position: absolute;
                color: $lightBlue;
                display: none;
            }

            &:hover {
                .floating-heading {
                    display: block;
                }
            }
        }
    }
}

.all-contents-container {
    width: 70%;
    margin: auto;
    display: flex;

    .item-cards-container {
        width: 70%;
        margin-right: 5px;

        .content-catogories-top {
            width: 100%;
            height: 50px;
            overflow: hidden;
            display: flex;
            align-items: center;
            margin: 10px 0;
            position: relative;

            .blog-tags {
                .tag-container {
                    display: flex;
                    @include tagLinks;
                }
            }
            .content-categories-top-container {
                position: relative;
                left: 0;
                transition: all 1s ease;
            }

            .content-categories-top-container.moved-left {
                position: relative;
                left: -50px;
            }
        }

        .prev-next-icon,
        .prev-next-icon-left {
            width: 100px;
            background-image: linear-gradient(
                to right,
                transparent,
                $bgTags,
                $bgTags
            );
            position: absolute;
            right: 0;
            text-align: right;
            height: 30px;
            color: $lightPurple;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            padding: 0 10px;

            span {
                padding: 0 1px;
            }
            user-select: none;

            #arrow-left:hover,
            #arrow-right:hover {
                color: darkslateblue;
            }
        }

        .prev-next-icon-left {
            background-image: linear-gradient(to right, $bgTags, transparent);
            left: 0;
            // z-index: 1;
        }

        .item-cards {
            display: flex;
            margin-bottom: 10px;
            background-color: $lightBlue;

            .cards-img-container {
                width: 40%;
                height: 250px;
                background: grey;

                img {
                    width: 100%;
                    height: 250px;
                }
            }

            .cards-details-container {
                width: 60%;
                height: 250px;
                padding: 10px;
                display: flex;
                justify-content: center;
                flex-direction: column;
                color: #111;
            }

            &:hover {
                background-color: #adb5ce;
            }
        }
    }

    .slide-cards {
        width: 30%;
        margin-left: 5px;
        top: 60px;
        position: sticky;

        .sld-cards-cont {
            background-color: $lightBlue;
            border-radius: 0  0 25px 25px;
            padding-bottom: 25px;

            .sld-cards {
                height: 300px;
                background-color: #bebef3;
                margin: 10px 0;
                overflow: hidden;
                
                .sld-img {
                    width: 100%;
                    height: 150px;
                    background-image: url("../assets/apple-desktop.jpg");
                    background-position: center;
                    background-size: contain;
                    background-repeat: no-repeat;
                    transition: all 1s ease;
                }

                p{
                    padding: 15px;
                }
                
                .sld-title{
                    p{
                        padding: 15px;
                    }
                }
            }

            .sld-total-img{
                height: 500px;
                background-image: url("../assets/desktop-normal.jpg");
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
            }
        }
    }
}

@media screen and (max-width: 750px) {
    div {
        .main-content {
            width: 90%;
            margin: $main-content-margin;
            border-radius: $childRadMob;
            padding: 50px 25px;
            transition: all 1s ease;

            .blog-tags {
                .tag-container {
                    width: 100%;
                }
            }
        }
    }

    .canva {
        width: 90%;
        height: 600px;
    }
}
