@import "./colors.scss";

@mixin themeBtn {
    color: $darkBlue;
    // background-image: linear-gradient(45deg,#800202, #0357038c, #1212a7);
    border: none;
    background: linear-gradient(
        145deg,
        $crimson,
        $lightBlue,
        #016a97,
        $lightPurple,
        #284d5d,
    );
    background-size: 500% 500%;
    animation: rotateBgColor 10s ease infinite;

    &:hover {
        color: $white;
    }
}

.navbar {
    position: sticky;
    top: 0;
    z-index: 10;
    padding: 0;
    width: 100%;

    & > .header,
    & > .header-scrolled {
        height: 80px;
        width: 100%;
        padding: 0 2rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: $white;
        transition: all 200ms ease;

        h2 {
            margin: 0;
            color: $white;
            cursor: pointer;
        }

        > main {
            width: 50%;
            display: flex;
            justify-content: flex-end;
            align-items: center;

            .active {
                color: $crimson;
            }

            > a {
                color: $lightPurple;
                padding: 27px 1rem;
                cursor: pointer;

                &:hover {
                    color: $crimson;
                }
            }

            .theme-btn {
                @include themeBtn();
            }

            .dropdown-menu {
                background-image: linear-gradient(
                    to right,
                    $lightBlue,
                    $lightPurple
                );

                border-radius: 25px;
                text-align: center;

                &:hover {
                    overflow: hidden;
                }
            }

            #mode-icon {
                padding: 22px;
                font-size: 1.5rem;
            }
        }

        > button {
            border: none;
            color: $lightPurple;
            font-size: 1.2rem;
            background: none;
            cursor: pointer;
            display: none;
            padding-left: 10px;

            &:hover {
                color: $crimson;
            }
        }
    }

    & > .header {
        height: 80px;
        background-image: linear-gradient(to right, $c1, $c2);
    }
    & > .header-scrolled {
        height: 55px;
        background-image: linear-gradient(to right, #1a020ac4, #020b2ce3);
        box-shadow: 0px 0px 55px #1d1616;
    }

    #mode-icon-phone {
        display: none;
        margin-right: 25px;
        padding: 20px;
        color: $lightPurple;
    }
}

#nav-menu-slide {
    display: none;
}

// Tablet and mobile compatible
@media screen and (max-width: 850px) {
    .navbar {
        #mode-icon-phone {
            display: flex;
        }
    }

    .header,
    .header-scrolled {
        & > main {
            display: none !important;
        }

        > button {
            position: absolute;
            display: flex !important;
            justify-content: flex-end;
            align-items: center;
            right: 0;
            padding: 25px;

            > svg {
                font-size: 1.5rem;
            }
        }
    }

    #nav-menu-slide {
        width: 100%;
        height: calc(120vh - 100px);
        position: absolute;
        background-image: linear-gradient(to right, $c1, $c2);
        transform: translateY(-200%);
        transition: 0.4s ease-in-out;
        z-index: 10;
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: center;

        a {
            h2 {
                display: none;
            }
        }

        #mode-icon-phone {
            display: none;
        }

        > main {
            display: flex;
            justify-content: center;
            flex-direction: column;
            text-align: center;
            width: 80%;

            .theme-btn {
                @include themeBtn();
            }

            > a {
                color: $lightPurple;
                padding: 30px;
                text-transform: uppercase;

                &:hover {
                    color: $crimson;
                }
            }
        }
    }
}
