@import "./colors.scss";

.home {
    width: 100%;
    height: 100vh;
    color: #fff;
    border-radius: 0 0 0 $heroRad;

    > main {
        position: absolute;
        text-transform: uppercase;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 100%;
        height: 100%;
        padding: 2rem;
        justify-content: center;
        background-image: linear-gradient(to left, $c2, $c1);
        opacity: 0.5;
        border-radius: 0 0 0 $heroRad;

        > #cursor-container {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 9999;

            > .follower {
                position: relative;
                height: 50px;
                width: 50px;
                background-color: red;
                border-radius: 50%;
            }
        }

        > h1 {
            font-size: 46px;
        }

        > p {
            color: grey;
            background: #000000;
            padding: 0 5px;

            > span {
                color: crimson;
            }
        }
    }
    &::before {
        content: "";
        width: 100%;
        position: absolute;
        height: 100%;
        background: no-repeat center/auto url("../assets/black-leaf.jpg");
        background-size: cover;
        background-position: center;
        border-radius: 0 0 0 $heroRad;
    }
}

.page2,
.page3 {
    width: 60%;
    margin: auto;
    border-radius: 50px;
    background-color: $lightBlue;
    display: flex;
    margin-top: 100px;
    align-items: center;
    justify-content: center;

    > img {
        width: 35%;
        animation: imgUp 0.7s linear infinite alternate;
    }

    > div {
        padding: 100px;

        > p {
            letter-spacing: 2px;
            word-spacing: 5px;
            font-family: cursive;
        }

        > h2 {
            padding-bottom: 3px;
            width: fit-content;
            border-bottom: 1px solid grey;
        }
    }
}

@keyframes imgUp {
    to {
        transform: translateY(-10px);
    }
}

.about-page {
    width: 70%;
    min-height: 65vh;
    margin-top: 100px;
    padding: 100px 0;
    color: $white;
    background: $darkBlue;
    border-radius: 0 $childRad $childRad 0;
    display: flex;
    align-items: center;
    justify-content: center;

    > div {
        width: 70%;
        display: flex;
        flex-direction: column;

        > h1 {
            width: fit-content;
            border-bottom: 2px solid grey;
        }
    }
}

.social-media {
    margin-top: 100px;
    color: $white;
    display: flex;
    justify-content: flex-end;

    > div {
        width: 70%;
        min-height: 65vh;
        border-radius: $childRad 0 0$childRad;
        background: $darkBlue;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;

        > h1 {
            position: relative;
            text-align: center;
            top: -30px;
        }

        > article {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            text-align: center;

            > a {
                height: 9rem;
                width: 9rem;
                background: $white;
                border-radius: 50%;
                margin: 10px;
                color: $darkBlue;
                transition: all 0.3s;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                animation: imgUp 0.7s linear infinite alternate;

                &:hover {
                    color: $crimson;
                    background-color: $darkBlue;
                }

                svg {
                    font-size: 3rem;
                }

                p {
                    font-size: 12px;
                }

                p::hover {
                    color: green;
                }
            }
        }
    }
}

// Tablet width
@media screen and (max-width: 1000px) {
    .page2,
    .page3 {
        width: 90%;
        flex-direction: column;

        > div {
            padding: 50px 15px;
            width: 90%;
        }

        img {
            width: 50%;
        }
    }

    .page2 {
        flex-direction: column-reverse;
    }

    .footer {
        > main {
            flex-direction: column;

            > div {
                width: 100%;
            }
        }
    }
}

// Mobile width
@media screen and (max-width: 480px) {
    .page2,
    .page3 {
        img {
            width: 80%;
        }
    }

    .social-media {
        > div {
            min-height: 120vh;
        }
    }
}
