@import "./styles/colors.scss";

* {
    text-decoration: none !important;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #cfd3f8;
}

::-webkit-scrollbar-thumb {
    background-image: repeating-linear-gradient(
        45deg,
        $darkBlue,
        $lightBlue 10px
    );
    border-radius: $childRad;
}

#alert-box-container {
    display: none;
    justify-content: center;
}

.alert-box {
    top: 90px;
    z-index: 9988;
    line-height: 0px;
    position: fixed;
    border: none;
    background-image: url(../src/assets/success-icon-ani.gif);
    background-repeat: no-repeat;
    background-size: contain;
    padding-left: 40px;
}

.error-alert-box {
    top: 90px;
    z-index: 9988;
    line-height: 0px;
    position: fixed;
    background-image: url(../src/assets/error-icon-ani.gif);
    border: none;
    background-repeat: no-repeat;
    background-size: contain;
    padding-left: 40px;
}

:root {
    --backgroud-light: $bgColor;
    --backgroud-dark: $darkBlue;
    --read-page-bg-light: $lightBlue;
    --read-page-color-light: lightgrey;
    --read-page-bg-dark: darkblue;
    --read-page-color-dark: #000000;
    --info-page-background-light: #020f2c;
    --info-page-background-dark: #000000;
}

body {
    background: var(--backgroud-light);
    transition: all 1s ease;
}

.dark-mode {
    background: $darkBlue;

    .page2,
    .page3 {
        background-color: #1f1f40;
        color: lightcyan;
    }

    .about-page {
        background-color: #010618;
    }

    .social-media {
        div {
            background-color: #010618;
        }
    }

    .error-content,
    .canva {
        background: #121a38 !important;
        color: $white;
        box-shadow: 0px 0px 200px #2b2aa8;
    }

    .error-page-wrapper {
        .error-content {
            a {
                h2 {
                    color: $white;
                }
            }
        }
    }

    div {
        & > .main-content {
            background: $bgContentDark;
            color: $white;
            box-shadow: 0px 0px 200px #2b2aa8;
        }
    }
}

.cherry-blue {
    background: #04162c;

    .navbar {
        position: fixed;

        .header {
            border: none;
            background: none;
        }
    }

    .footer,
    .header-scrolled {
        background-image: linear-gradient(145deg, #5d0112, #016a97) !important;
    }

    .home {
        height: 100vh;
        font-style: italic;
        main {
            align-items: flex-start;
            background-image: linear-gradient(to right, #071b31d7, #1a020ada),
                url("./assets/cherry-blue-wp2.jpg");
            transition: all 1s ease;
        }
    }

    .read-page {
        background-image: linear-gradient(145deg, #284d5d, #5d0112);
        color: $lightBlue;

        img {
            background-image: linear-gradient(
                to right,
                $lightPurple,
                $lightBlue
            );
        }
        // animation: rotateBgColor 5s infinite alternate;
        background: linear-gradient(
            145deg,
            #071b31,
            #284d5d,
            #5d0112,
            #016a97,
            #1a020ada
        );
        background-size: 500% 500%;
        animation: rotateBgColor 10s ease infinite;
    }

    .info-page {
        background-color: #284d5d;
        background-image: linear-gradient(145deg, #016a97, #071b31);
        font-style: italic;

        &:hover {
            background-color: #284d5d;
        }
    }

    .social-media {
        div {
            article {
                a {
                    &:hover {
                        background-color: #284d5d;
                    }
                }
            }
        }
    }

    .canva,
    .error-content {
        background: #121a38 !important;
        color: $white;
        box-shadow: 0px 0px 200px #016a97;
    }

    .error-page-wrapper {
        margin-top: 80px;
        .error-content {
            background: #0c1d31 !important;
            box-shadow: 0px 0px 200px #016a97;
            color: $white;
            a {
                h2 {
                    color: $white;
                }
            }
        }
    }

    div {
        & > .main-content {
            background: #0c1d31;
            box-shadow: 0px 0px 200px #016a97;
            color: $white;
            margin: 100px auto;
        }
    }
}

.pineapple-mint {
    background: #8A7D31;
    background: #B78A30;

    .navbar {
        position: fixed;

        .header {
            border: none;
            background: none;
        }
    }

    .footer,
    .header-scrolled {
        background-image: linear-gradient(145deg, #FCDF2D, #BBD6B8) !important;
        color: #000000;
        a{
            color: grey !important;
            &:hover{
                color: #000000 !important;
            }
        }
        &:hover{
            color: #000000 !important;
        }
    }

    .home {
        height: 100vh;
        font-style: italic;
        main {
            align-items: flex-start;
            background-image: linear-gradient(to right, #cbf58bda, #5d0112e8),
                url("./assets/cherry-blue-wp.jpg");
            transition: all 1s ease;
        }
    }
}

.sandlewood-yellow {
    background: #4d4d23;

    .navbar {
        position: fixed;

        .header {
            border: none;
            background: none;
        }
    }

    .footer,
    .header-scrolled {
        background-image: linear-gradient(145deg, #5d0112, #016a97) !important;
    }

    .home {
        height: 100vh;
        font-style: italic;
        main {
            align-items: flex-start;
            background-image: linear-gradient(to right, #cbf58bda, #5d0112e8),
                url("./assets/cherry-blue-wp.jpg");
            transition: all 1s ease;
        }
    }
}

@keyframes rotateBgColor {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
